{% extends "network/layout.html" %}

{% block body %}

    <h1>{{title}}</h1>


    {% if title == 'All Posts' %}
        {% if user.is_authenticated %}
            <div class="card post">
                <div class="card-body">
                    <form id="compose-form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <h3>New Post</h3> 
                            {% if message %}
                                <div class="error_message">
                                    {{ message }}
                                </div>
                            {% endif %}
                            <textarea class="form-control" name="content" placeholder=""></textarea>
                            <input type="submit" class="btn btn-primary" value="post"/>
                        </div>
                    </form>                
                </div>
            </div>
        {% endif %}
    {% elif profile %}
        {% if profile_err %}
            <div class="card-body error_message">
                {{ profile_err }}
            </div>
        {% else %}
            <div id="profile_followers" class="card-body">
                {{ profile_msg }}
            </div>
            {% if user.is_authenticated %}
                {% if user.username != title %}
                    <div id="follow_button_div" class="card-body">
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}


    {% if page_obj %}
        {% for post in page_obj %}
            <div class="card post" id="{{ post.id }}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <a href="{% url 'profile' profile_name=post.user %}">
                                <strong>{{ post.user }}</strong>
                            </a>
                            <span> - {{ post.timestamp }}</span>
                        </div>
                        {% if post.user == user %}
                            <div class="col-auto">
                                <button title="Edit post" type="button" class="btn btn-outline-secondary edit_button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg> Edit
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mt-2">
                        <div class="col post_content">
                            {{ post.content }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <button title="Log in to like this post" type="button" class="btn btn-outline-dark btn-sm like_button" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg> 
                            </button>
                            <span id="likes_count"></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="card-body">
            <nav aria-label="index_pages">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
    
                    <li class="page-item disabled">
                        <a class="page-link" href="" aria-disabled="true">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item" >
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"></li>
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        
        
    {% endif %}


{% endblock %}