body {
    padding: 20px;
}

.listing_image {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}
.big_image {
    height: 350px;
}

.listing_info {
    font-size: 20px;
    margin-top: 10px;
}

.listing_price {
    font-size: 28px;
    margin-top: 10px;
}

#bid_info {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#new_bid {
    width: 150px;
}
.error_message {
    color: red;
}
#congratulations {
    color: blue;
    font-weight: bolder;
}