{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active listing categories</h2>
    
    {% for category in categories %}
        <li class="list-group-item">
            <a class="nav-link" href="{% url 'index' forloop.counter0 %}">
                {% if category %}
                    {{ category }}
                {% else %}
                    - None -
                {% endif %}
            </a>
        </li>
        
    {% empty %}
        <p> No category for active listings. </p> 
    
    {% endfor %}
{% endblock %}