{% extends "auctions/layout.html" %}

{% block body %}
    <h2>
        {% if status == 'closed' %}
            Closed Listings
        {% elif status == 'whatchlist' %}
            Whatchlist
        {% elif category %}
            Active Listings: {{ category }}
        {% else %}
            Active Listings
        {% endif %}
    </h2>


    {% if error_message %}

    <div class="row">
        <div class="col-sm-4 error_message">
            {{ error_message}}
        </div>
    </div>
    {% else %}

    {% for listing in listings %}
        <li class="list-group-item col-sm-11">
            <div class="row">
                <div class="col-sm-4 listing_image">
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="Error: image not found." height="230">
                    {% else %}
                        No photo available.    
                    {% endif %}
                </div>
                <div class="col-sm-8 listing_info">
                    <h3>
                        <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </h3>
                    <table class="table table-sm table-responsive table-borderless">
                        <tr>
                            <td><strong>Price: </strong></td>
                            <td>
                                {% if listing.current_bid %}
                                    $ {{ listing.current_bid }}
                                {% else %}
                                    $ {{ listing.starting_bid }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Category: </strong></td>
                            <td>
                                {% if listing.category %}
                                    {{ listing.category }}
                                {% else %}
                                    - None -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Description: </strong></td>
                            <td>
                                <p>{{ listing.description|safe }}</p>
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </li>
        
    {% empty %}
        {% if status == 'closed' %}
            <p> No closed listing. </p> 
        {% elif status == 'whatchlist' %}
            <p> Your whatchlist is empty. </p> 
        {% else %}
            <p> No active listing. </p> 
        {% endif %}
    
    {% endfor %}

    {% endif %}
{% endblock %}