{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }} </h2>
    
    <div class="row">
        <div class="col-sm-4 listing_image big_image">
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="Error: image not found." height="330">
            {% else %}
                No photo available.    
            {% endif %}
        </div>
        <div class="col-sm-6 listing_info">

            <div class="listing_info">
                {{ listing.description|safe }}
            </div>
            <div class="listing_price">
                <strong> ${{ current_bid }} </strong>
            </div>
            <div id="bid_info">

                {% if listing_bids > 0 %}
                    {% if listing_bids == 1 %}
                        1 bid so far.
                    {% else %}
                        {{ listing_bids }} bids so far.
                    {% endif %} 
                    
                    {% if user == listing.current_bid_user %}
                        Your bid is the current bid.
                    {% endif %} 
                
                {% else %}
                    No bids so far.
                {% endif %} 
                
            </div>

            <h3><strong>Details</strong> </h3>
            <ul>
                <li>Listed by: {{ listing.user }}</li>
                <li>Category: 
                    {% if listing.category %}
                        {{ listing.category }}
                    {% else %}
                        - None -
                    {% endif %}
                </li>
            
            </ul>

            {% if user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}

                    {% if list_id in whatchlist %}
                        <div class="form-group">
                            <input type="hidden" name="action" value="remove">
                            <input class="btn btn-secondary" type="submit" value="Remove from whatchlist">
                        </div>
                    {% else %}
                        <div class="form-group">
                            <input type="hidden" name="action" value="add">
                            <input class="btn btn-secondary" type="submit" value="Add to whatchlist">
                        </div>
                    {% endif %}
                </form>
                <div class="error_message">
                    {{ error_message }}
                </div>

                {% if listing.open == True %}
                    {% if user == listing.user %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" name="action" value="close_auction">
                                <input class="btn btn-primary" type="submit" value="Close auction">
                            </div>
                        </form>
                    {% else %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" name="new_bid" id="new_bid" required placeholder="Bid">
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="action" value="place_bid">
                                <input class="btn btn-primary" type="submit" value="Place Bid">
                            </div>
                        
                        </form>
                    {% endif %}
                {% else %}
                    This auction is closed. 
                    {% if user == listing.current_bid_user %}
                        <div id="congratulations">
                            Congratulations, you won this auction!
                        </div>
                    {% elif user == listing.user %}
                        Winner: <strong>{{ listing.current_bid_user }}</strong>
                    {% endif %}
                {% endif %}

                

            {% endif %}

    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 listing_info">
            Comments:
            {% for comment in comments %}
                <div>
                    {{ comment|safe }}
                </div>
            {% empty %}
                <div>
                    No comments yet.
                </div>
            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group listing_info">
                    <textarea rows="2" class="form-control" name="comment_text" required placeholder="Write your comment here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="action" value="new_comment">
                    <input class="btn btn-primary" type="submit" value="Send comment">
                </div>
            
            </form>


        </div>
    </div>
        
{% endblock %}