{% extends "auctions/layout.html" %}

{% block title %}
    Auctions - New Listing
{% endblock %}

{% block body %}

    <h2>New Listing</h2>

    <form action="{% url 'new_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" required placeholder="Title">
        </div>
        <div class="form-group">
            <textarea rows="10" class="form-control" name="description" required placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="starting_bid" required placeholder="Starting bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="url" name="image_url" placeholder="Image URL (optional)">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="category" placeholder="Category (optional)">
        </div>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>

{% endblock %}