{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div class="error_message">
            {{ message }}
        </div>
    {% endif %}

    <div class="form-group">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                
                <label for="confirmation">Confirmation:</label>
                <input type="password" style="visibility: hidden">
                <input class="form-control" type="password" name="confirmation" placeholder="confirm you password" autocomplete="new-password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>    

    </div>

    
    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}