body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

h3 {
    font-weight: bold;
}
textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    margin-left: 10px;
}

.sidebar_options {
    margin-left: 10px;
    font-size: 18px;
}

.form-label {
    text-align: right;
    font-weight: bold;
}

.messages {
    font-style: italic;
}

.error_message {
    color: red;
}

.float-right {
    text-align: right;
    padding: 20px;
}

.row_entries {
    margin: 10px;
    font-size: 18px;
}