{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - {{ title }}: edit
{% endblock %}

{% block body %}

<div class="row row_entries">
    <div class="col-sm-8">
        <h1>{{ title }}</h1>
    </div>
</div>

<form method="POST">
    {% csrf_token %}

    <div class="form-group row row_entries">
        <div class="col-sm-10">
            <textarea rows="25" class="form-control" placeholder="Write your content here…" name="wiki_content" id="wiki_content">{{ entry }}</textarea>
        </div>
    </div>
    <div class="form-group row row_entries">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    
</form>

{% endblock %}
