{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - {{ title }}
{% endblock %}

{% block body %}
<div class="row row_entries">
    <div class="col-sm-8">
        <h1>{{ title }}</h1>
    </div>
    <div class="col-sm-2 float-right">
        <a class="btn btn-default btn-lg border"  href="{% url 'encyclopedia:index' %}{{ title }}/edit">
            <span class="fas fa-edit" aria-hidden="true"></span> Edit
        </a>
    </div>
</div>

<div class="row row_entries">
    <div class="col-sm-10">
        {{ entry|safe }}
    </div>
</div>



{% endblock %}
