{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <div class="row row_entries">
        <div class="col-sm-8">
            <h1>All Pages</h1>
        </div>
    </div>
    
    <div class="row_entries">
        <ul>
            {% for entry in entries %}
                <li><a href="{% url 'encyclopedia:index' %}{{ entry }}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
