{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <div class="row_entries">
                    <form action="{% url 'encyclopedia:index' %}" method="POST">
                        {% csrf_token %}
                        <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                    </form>
                </div>
                <div class="sidebar_options">
                    <a href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
                <div class="sidebar_options">
                    <a href="{% url 'encyclopedia:new_page' %}">Create New Page</a>
                </div>
                <div class="sidebar_options">
                    <a href="{% url 'encyclopedia:index' %}random_page"">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
