{% extends "encyclopedia/layout.html" %}

{% block title %}
  Encyclopedia - Not Found!
{% endblock %}

{% block body %}
  <div class="row row_entries">
    <div class="col-sm-8">
      <h1>{{ title }} - Not Found!</h1>
    </div>
  </div>
  
    <div class="row row_entries">
      <div class="col-sm-10 messages">
        The page "<span class="error_message">{{ title }}</span>" does not exist. 
        You are welcome to <a href="{% url 'encyclopedia:new_page' %}">create a new page</a>,
        but consider checking the search results below to see whether the topic is already covered.
      </div>
      <div class="col-sm-2">
      </div>
    </div>

    <div class="row row_entries">
      <div class="col-sm-10">
        <h3>Search results:</h3>
      </div>
    </div>
    <ul>
      {% for entry in search_list %}
        <li><a href="{% url 'encyclopedia:index' %}{{ entry }}">{{ entry }}</a></li>
      {% empty %}
        <li> No results. </li>
      {% endfor %}
    </ul>

{% endblock %}
