body {
  margin:0;
}

.upper_links {
    text-align: right;
    vertical-align: center;
    height: 20px;
    padding-right: 40px;
    padding-top: 20px;
}

.upper_links span {
  display: inline-block;
  width: 90px;
}

.doodle {
  text-align: center;
  margin-top: 59px;
}
img.main {
  width: 300px;
  /* height: 200px; */
}
.image_footage {
  text-align: center;
  margin-bottom: 0px;
}
#search_footage {
  margin-top: 42px;
}

.search_bar {
  border-radius: 25px;
  align-items: center;
  padding-left: 40px;
  width: 540px;
  height: 42px;
  border:1px solid #d9d9d9;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size:16px;
  margin-bottom: 20px;
}
.search_bar:focus {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
  border:1px solid #4d90fe;
  outline:none
}
.search_bar::-ms-clear{display:none}

#img_search_bar {
  width: 494px;
}

.advanced_search {
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
  font-size:13px;
  height:25px;
  width: 600px;
  padding:1px 8px;
}

#advanced_bar_1 {
    display: table;
    width: 100%;
    height: 60px;
    background-color:#f0f0f0;
    vertical-align: center;
}
#advanced_head_1 {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 12px;
    padding-top: 7px;
}

#advanced_bar_2 {
    display: table;
    width: 100%;
    height: 75px;
    vertical-align: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
}

#advanced_head_2 {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-left: 45px;
  color: #d93025;
  font-size: 20px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

article {
  display: inline-grid;
  grid-template-columns: 180px auto;
  grid-gap: 10px;
  margin: 40px;
}

section {
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 1px solid black; */
  font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size:14px;
  padding-left: 0px;
  height: 40px;
}

#form_head{
  font-size:16px;
}

.search_button{
  height:36px;
  width: 130px;
  border-radius: 5px;
  background-color:rgba(1,1,1,0.05);
  color: rgba(1,1,1,0.6);
  border: 0px;
  font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size:14px;
  margin-right: 5px;
}
.lucky_button{
  width: 140px;
}

.search_button:hover {
  background-color:rgba(1,1,1,0.03);
  color: rgba(1,1,1,1.0);
  border: 1px;
  border-style: solid;
  border-color:rgba(1,1,1,0.2);
}

.advanced_search_button{
  height:32px;
  width: 150px;
  background-color:#4d90fe;
  color: white;
  font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.advanced_search_button:hover {
  background-color:#357ae8;
}

.center {
  text-align: center;
  margin: 10px;
}


