{% extends "users/layout.html" %}

{% block body %}

  {% if message %}
    <div> {{ message}} </div>
  {% endif %}

  <form class="" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
  </form>

{% endblock %}
